In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

df = pd.read_excel('/Users/eric5805/Documents/Data Science/Data_set/i485_origin.xlsx',engine='openpyxl')
df.columns

Index(['LocationID', 'COUNTY', 'ROUTE', 'LOCATION', 'AADT_2002', 'AADT_2003',
       'AADT_2004', 'AADT_2005', 'AADT_2006', 'AADT_2007', 'AADT_2008',
       'AADT_2009', 'AADT_2010', 'AADT_2011', 'AADT_2012', 'AADT_2013',
       'AADT_2014', 'AADT_2015', 'AADT_2016', 'AADT_2017', 'AADT_2018',
       'AADT_2019', 'AADT_2020', 'AADT_2021', 'AADT_20222', 'AADT_2023'],
      dtype='object')

In [3]:
aadt_df = df[['AADT_2002', 'AADT_2003', 'AADT_2004', 'AADT_2005', 'AADT_2006',
              'AADT_2007', 'AADT_2008', 'AADT_2009', 'AADT_2010', 'AADT_2011',
              'AADT_2012', 'AADT_2013', 'AADT_2014', 'AADT_2015', 'AADT_2016',
              'AADT_2017', 'AADT_2018', 'AADT_2019', 'AADT_2020', 'AADT_2021',
              'AADT_20222', 'AADT_2023']].apply(pd.to_numeric, errors='coerce')
aadt_df.isna().sum()

AADT_2002     191
AADT_2003     191
AADT_2004     185
AADT_2005     182
AADT_2006     182
AADT_2007     179
AADT_2008     177
AADT_2009      28
AADT_2010      28
AADT_2011      29
AADT_2012      28
AADT_2013      23
AADT_2014      22
AADT_2015       6
AADT_2016       5
AADT_2017       6
AADT_2018      48
AADT_2019       0
AADT_2020     172
AADT_2021      30
AADT_20222     33
AADT_2023       0
dtype: int64

In [4]:
avr_aadt_at_each_exit = aadt_df.mean(axis=1)

0      66675.0
1      68725.0
2      69925.0
3      75175.0
4      84925.0
        ...
199     3940.0
200     3500.0
201     3580.0
202     3700.0
203    79750.0
Length: 204, dtype: float64

In [5]:
aadt_df.T

,0,1,2,3,4,5,6,7,8,9,...,194,195,196,197,198,199,200,201,202,203
AADT_2002,12000.0,39000.0,45000.0,58000.0,65000.0,83000.0,107000.0,102000.0,31000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AADT_2003,17000.0,45000.0,53000.0,62000.0,72000.0,86000.0,107000.0,101000.0,29000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AADT_2004,33000.0,63000.0,69000.0,78000.0,90000.0,95000.0,109000.0,104000.0,38000.0,38000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AADT_2005,42000.0,68000.0,72000.0,78000.0,89000.0,100000.0,124000.0,121000.0,70000.0,46000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AADT_2006,52000.0,68000.0,70000.0,74000.0,84000.0,96000.0,121000.0,119000.0,82000.0,56000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AADT_2007,60000.0,68000.0,70000.0,73000.0,82000.0,93000.0,117000.0,116000.0,88000.0,57000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AADT_2008,50000.0,65000.0,68000.0,73000.0,82000.0,96000.0,119000.0,118000.0,87000.0,50000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AADT_2009,53000.0,67000.0,70000.0,75000.0,83000.0,96000.0,120000.0,116000.0,86000.0,52000.0,...,NaN,NaN,3700.0,4400.0,NaN,NaN,NaN,NaN,NaN,NaN
AADT_2010,53000.0,64000.0,66000.0,71000.0,79000.0,92000.0,115000.0,111000.0,86000.0,52000.0,...,NaN,NaN,3600.0,4400.0,NaN,NaN,NaN,NaN,NaN,NaN
AADT_2011,51000.0,64000.0,65000.0,72000.0,81000.0,94000.0,118000.0,116000.0,90000.0,51000.0,...,NaN,NaN,3200.0,5600.0,NaN,NaN,NaN,NaN,NaN,NaN
AADT_2012,45000.0,65000.0,67000.0,69000.0,78000.0,89000.0,112000.0,108000.0,88000.0,47000.0,...,NaN,NaN,3200.0,5600.0,NaN,NaN,NaN,NaN,NaN,NaN
AADT_2013,52000.0,66000.0,67000.0,72000.0,81000.0,92000.0,116000.0,113000.0,93000.0,52000.0,...,NaN,NaN,3300.0,6200.0,NaN,NaN,NaN,NaN,NaN,NaN
AADT_2014,53000.0,70000.0,70000.0,72000.0,78000.0,90000.0,111000.0,108000.0,96000.0,55000.0,...,NaN,NaN,3400.0,6200.0,NaN,NaN,NaN,NaN,NaN,NaN
AADT_2015,89000.0,76000.0,77000.0,80000.0,89000.0,110000.0,135000.0,133000.0,108000.0,72000.0,...,3100.0,13000.0,3400.0,6700.0,NaN,NaN,NaN,NaN,NaN,NaN
AADT_2016,108000.0,82000.0,80000.0,84000.0,97000.0,121000.0,146000.0,143000.0,112000.0,81000.0,...,4700.0,17000.0,3800.0,9000.0,14000.0,NaN,NaN,NaN,NaN,NaN
AADT_2017,115000.0,84000.0,81000.0,85000.0,98000.0,124000.0,149000.0,147000.0,121000.0,84000.0,...,5300.0,13000.0,3400.0,6400.0,NaN,NaN,NaN,NaN,NaN,NaN
AADT_2018,122000.0,86500.0,82500.0,87500.0,101000.0,128000.0,154000.0,153000.0,126000.0,88500.0,...,6100.0,NaN,3500.0,NaN,NaN,4400.0,2900.0,3200.0,3900.0,84500.0
AADT_2019,113000.0,84000.0,81000.0,85500.0,96000.0,122000.0,148000.0,147000.0,124000.0,82000.0,...,4000.0,21500.0,3300.0,9800.0,14500.0,3200.0,3300.0,3600.0,3600.0,82000.0
AADT_2020,96500.0,68000.0,65500.0,70000.0,78500.0,100000.0,122000.0,122000.0,104000.0,68000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69000.0
AADT_2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87000.0,...,7300.0,22500.0,2700.0,9300.0,28500.0,3900.0,3400.0,3400.0,3500.0,NaN
AADT_20222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6600.0,23500.0,3100.0,10500.0,29500.0,3900.0,3500.0,3800.0,3300.0,NaN
AADT_2023,117000.0,82000.0,79500.0,84500.0,95000.0,121000.0,148000.0,147000.0,125000.0,94500.0,...,7500.0,24500.0,3300.0,11000.0,31500.0,4300.0,4400.0,3900.0,4200.0,83500.0